In [4]:

import pandas as pd

df = pd.read_csv('./data/predefined_users_a.csv', encoding = "ISO-8859-1")

#category,rang,full_name,age_year,location,total_time,run_link,run_year
df.head()

,Unnamed: 0,category,rang,full_name,age_year,location,total_time,run_link,run_year,Unnamed: 9,Unnamed: 10
0,0,10-M16,14,Arthaber Tobias,1998,Wangs,"51.52,9",https://services.datasport.com/2014/lauf/zueri...,2014,NaN,NaN
1,1,10-M16,4,Avdullahu Leonardo Giu,1998,Räterschen,"44.21,9",https://services.datasport.com/2014/lauf/zueri...,2014,NaN,NaN
2,2,10-M20,92,Abramowski Rajan,1994,Flawil,"44.51,6",https://services.datasport.com/2014/lauf/zueri...,2014,NaN,NaN
3,3,10-M20,61,Adank Andri,1986,Zürich,"43.11,6",https://services.datasport.com/2014/lauf/zueri...,2014,NaN,NaN
4,4,10-M20,148,Ang Cheng Choon,1986,Zürich,"49.52,7",https://services.datasport.com/2014/lauf/zueri...,2014,NaN,NaN

In [6]:
df['run_year'].describe()

count    1081.000000
mean     2016.086957
std         1.435601
min      2014.000000
25%      2015.000000
50%      2016.000000
75%      2017.000000
max      2018.000000
Name: run_year, dtype: float64

In [2]:
import pandas as pd

df = pd.read_csv('./data/postdefined_users_azure_data.csv', encoding = "ISO-8859-1")

#category,rang,full_name,age_year,location,total_time,run_link,run_year
df['ada_v2'].head()

0    [-0.015397894196212292, -0.01773764193058014, ...
1    [-0.00929059274494648, -0.020558182150125504, ...
2    [-0.033477865159511566, -0.006381461396813393,...
3    [-0.007981229573488235, -0.007317785639315844,...
4    [0.0017258328152820468, -0.013118949718773365,...
Name: ada_v2, dtype: object

In [4]:
df['ada_v2'].shape

(33,)